{{- define "main" }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">{{ .Description | markdownify }}</div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
  {{- .Content }}
</div>
{{- end }}

{{- $academic := where (where site.RegularPages "Section" "news") "Params.type" "academic" }}
{{- $academic = sort ($academic | first 50) "Date" "desc" }}

{{- if $academic }}
<div class="academic-list">
{{- range $academic }}
  {{- partial "list_entry.html" . }}
{{- end }}
</div>
{{- end }}

{{- end }}
